.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 1.875rem;
  padding: 0.625rem 1.25rem;
  border-radius: 99rem;
  width: 75vw;
  margin: 0 auto;
  margin-top: 2.5rem;
  max-width: 35rem;
}
.search__input > input {
  flex: 1;
  padding: 0.625rem 1.25rem;
  font-size: medium;
  border: none;
}
.search__input > input:focus {
  outline-width: 0;
}
.search__inputIcon {
  color: gray;
}
.search__buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
}
.search__buttons button {
  margin: 0.3125rem;
  padding: 0.4375rem 0.9375rem;
  background-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #576368;
}
.search__buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
  background-color: inherit;
  color: #222;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}
.search__buttonsHidden{
    display: none !important;
}